body {
font-family: 'Raleway', sans-serif;
}

.firstpage-background {
    height: 100vh;
    background: url(../images/background.JPG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*navbar styling */
 .navbar {
     margin-bottom: 0;
     border: 0;
     width: 100%;
     background-color: rgba(236, 138, 229, 0.28)
 }

.navbar .navbar-toggler{
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a{
font-weight: bold;
}

.lip-container{
padding: 0;
margin: 0;
border: 0;
}


.opening-statement{

}

.customer-gallery-container{

}

/*reviews*/




.card-body{
background-color: rgba(236, 138, 229, 0.28)
}
.card-title{
    text-align: center;
    font-weight: bold;
}

.card-text{
    text-align: block;
}


/*page headers*/
.page-header {
    margin-top: 50px;
    margin-bottom: 30px;
    border-bottom: 0;
    text-align: center;
    font-weight: bold;
}

/*jumbotron-header*/
.jumbotron-header {
    font-weight: bold;
    margin-bottom: 30px;
}
/*page dividers*/
.page-divider {
    width: 75px;
    height: 5px;
    border: 0;
    margin-top: 30px;
    background-color:#e693c0;
}

.subheading {
    font-weight: bold;
}

.journey-container{

}


/*social networks- footer*/
.social-networks {
text-align: center;
}

.social-networks li {
  display:inline;
}

.social-networks i {
  font-size: 160%;
  margin:1%;
  padding:5%;
  color: black;
}



