body {
font-family: 'Raleway', sans-serif;
}



.finance-container .row {
        flex-wrap: wrap;
    display: block;
        margin: 0px;
}


.background-image{
    background: url("../images/background.JPG") no-repeat center center fixed;
    background-size: cover;
}


.firstpage-background {
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*navbar styling */
 .navbar {
     margin-bottom: 0;
     border: 0;
     width: 100%;
     background-color: rgba(236, 138, 229, 0.28)
 }

 .navbar-right a{
float: right;
 }

.navbar .navbar-toggler{
    border: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a{
font-weight: bold;
}

#navbar li a {
    float: right;
}

.lip-container{
padding: 0;
margin: 0;
border: 0;
}

/* button*/

.button-spacing {
    margin-top: 30px;
}

.opening-statement{

}

.customer-gallery-container{

}

/*reviews*/

.quotes-format{
    text-align: center;
}

.finance-container{
background-color: black;
color: white;
padding: 5px
}

.finance-container h1{
padding: 20px;
}

.container-fluid {
        padding: 40px 40px 20px;
        margin: 0;
}

.card-body{
background-color: black;
color: white;
flex: none;
min-height: 1px;
padding: 20px;
}

.card{
    padding: 0;
}

.pink-undertone{
    background-color: rgba(236, 138, 229, 0.28)
}

.card-title{
    text-align: center;
    font-weight: bold;
}

.card-text{
    text-align: block;
}


/*page headers*/
.page-header {
    margin-top: 50px;
    margin-bottom: 30px;
    border-bottom: 0;
    text-align: center;
    font-weight: bold;
}

.sub-headings{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    }

/*jumbotron-header*/
.jumbotron-header {
    font-weight: bold;
    margin-bottom: 30px;
}
/*page dividers*/
.page-divider {
    
    height: 5px;
    border: 0;
    margin-top: 50px;
    background-color:#e693c0;
    margin-bottom: 30px;
}


.journey-container h2{
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
    font-weight: bold;
}

.footer-details{
padding: 20px;
}

.footer-details h5 {
        padding-left: 20px
    }

.container-fluid{
        padding: 0;
}

/*social networks- footer*/
.social-icons a i {
font-size: larger;
color: black;
}

.row {
display: flex;
flex-wrap: wrap;
}

.column {
flex: 25%;
max-width: 25%;
padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


